<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
    <section name="appConfigurationSection" type="ConfiguredLocalizedSystemWatcher.Configuration.AppConfigurationSection, ConfiguredLocalizedSystemWatcher"/>
  </configSections>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>



  <appConfigurationSection>
    <culture value="ru-RU" />
    <folders>
      <add path="D:\FirstDirectory\" />
      <add path="D:\SecondDirectory\" />
      <add path="D:\ThirdDirectory\" />
    </folders>
    <rules>
      <add pattern=".txt$" destinationPath="D:\TargetFolders\TextFolder\" needAddNumber="false" needAddDate="true" />
      <add pattern="^[0-9]+" destinationPath="D:\TargetFolders\NumericFolder\" needAddNumber="true" needAddDate="true" />
      <add pattern="^[A-Za-z]+" destinationPath="D:\TargetFolders\LetterFolder\" needAddNumber="true" needAddDate="false" />
    </rules>
  </appConfigurationSection>
</configuration>